$black: #000;
$jet-black: #343434;
$aqua: #00ffff;
$azure: #f0ffff;
$white: #fff;
$baby-blue: #89cff0;
$blue: #0000ff;
$bright-blue: #0096ff;
$navy-blue: #000080;
$midnight-blue: #191970;
$egyptian-blue: #1434a4;
$ash-gray: #b2beb5;
$blue-gray: #7393b3;
$charcoal-gray: #36454f;
$glaucous-gray: #6082b6;
$silver: #c0c0c0;
$dark-green: #023030;
$marine-green: #7fffd4;
$bright-green: #aaff00;
$emerald-green: #50c878;
$light-green: #90ee90;
$jungle-green: #2aaa8a;
$limegreen: limegreen;
$amber-orange: #ffbf00;
$bright-orange: #ffac1c;
$bronze: #cd7f32;
$burnt-orange: #cc5500;
$dark-orange: #8b4000;
$neon-orange: #ff5f1f;
$cerise-pink: #de3163;
$rose: #f33a6a;
$dark-purple: #301934;
$purple: purple;
$light-violet: #cf9fff;
$violet: #7f00ff;
$dark-purple: #52f;
$purple-blue: #25ff;
$blood-red: #880808;
$brick-red: #aa4a44;
$brigt-red: #ee4b2b;
$carmine-red: #d70040;
$crimson: #dc143c;
$neon-red: #ff3131;
$raspberry: #e30b5c;
$red: #ff0000;
$ruby-red: #e0115f;
$scarlet: #ff2400;
