//* Variables ___________________________
//* _____________________________________
$font-stack: JetBrains Mono, Roboto, Poppins, sans-serif;
$large-font: 24px;
$mid-font: 20px;
$small-font: 14px;
$primary-color: #fff;
$secondary-color: #000;
